body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f7fa;
}
.main-container{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: #fff;
    margin: 40px auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding-right: 0;
}
    /* Main content section */
.main-content-section{
    padding: 100px 90px;
    margin-right: auto;
}
 /* About me section */
.about-me-section{
    margin: 0 0 40px 0;
}
.about-me-profession{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    color: #000;  
    margin: 0 0 20px 0;
}
.about-me-name{
    font-weight: 700;
    font-size: 45px;
    line-height: 1.22;
    margin: 0 0 25px 0;
    color: #000;
}
.about-me-description{
    width: 400px;
    font-size: 14px;
    line-height: 1.71;
    margin: 0 0 25px 0;
}
 /* My projects section */
 .my-projects-section{
margin-bottom: 50px;
}
.my-project-list{
    padding: 0 0 0 17px;
}
.main-content-title{
    font-weight: bold;
    font-size: 22px;
    line-height: 1.22;
    color: #000; 
    margin-bottom: 10px;
}
.my-project-item{
    color: #000;
    font-weight: bold;
}
.my-project-link{
    color: #595959;
    font-size: 14px;
    line-height: 1.71;    
}
.my-project-text{
    color: #595959;
    font-size: 14px;
    line-height: 1.71;
    margin-left: 5px;
}
.my-project-bracket{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71;
    color: #000;
}
 /* my-wok-expirience-company */

.my-wok-expirience-company-block{
    margin: 0 15px 0 0;
}
.my-wok-expirience-company{
    color: #FB6D3A;
}
.my-work-expirience-posiion{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.42;
    color: #000;
    margin: 0 0 10px 0;
}
.my-work-expirience-time{
    color: #A8A8A8;
    font-size: 12px;
    line-height: 1.25;
    margin: 0 0 10px 0;
}
.my-work-expirience-devider{
    font-size: 12px;
    line-height: 1.25;
    color: #000;
    }
.my-work-expirience-duties{
    padding: 0 0 0 18px;
}
.my-work-expirience-duty{
    color: #595959;
    font-size: 14px;
    line-height: 1.71;
}
 /* my-education-section */
 
.my-education-section{
    margin-top: 40px ;
}
.my-education-title{
    font-weight: 700;
    font-size: 22px;
    line-height: 1.22;
    margin: 0 0 10px 0;
    margin-top: 10px;
}

.list{
    list-style: none;
    padding-left: 0;
}

.my-education-place{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: #FB6D3A;
    margin-top: 10px;
}
.my-education-major{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    color: #000;
    margin-top: 10px;
}   
.my-education-period{
    color: #A8A8A8;
    font-size: 12px;
    line-height: 1.25;
    margin-top: 10px;
}
.my-education-period-devider{
    font-size: 12px;
    line-height: 1.25;
    color: #000;
    
}
    
    /* sidebar section */

.sidebar-section{
    background: #1e2939;
    width: 370px;
    padding: 40px 0;
}

.contacts-section,
.Tech-Skills,
.Soft-Skills{
    margin: 50px 0 0 40px;
}
.sidebar-title{
    font-weight: 700;
    font-size: 22px;
    line-height: 1.22;
    color: #fff;
    margin-bottom: 10px;
}
    /* contacts section */
.contacts-section-type{
    font-weight: bold;
    font-size: 14px;
    line-height: 1.71;    
    color: #fff;
    margin-right: 7px;
}

.contacts-section-link{
    color: #565E6A;
    font-size: 14px;
    line-height: 1.71;
}
    /* tech skills section */
.tech-skills-list{
    padding: 0 0 0 18px;
}
.tech-skills-item{
    color: #FB6D3A;
}
.tech-skills-item-text{
    font-size: 14px;
    line-height: 1.71;
    color: #fff;
}
/* Soft skills section */
.soft-skills-list{
    padding: 0 0 0 18px;
}
.soft-skills-item{
    color: #FB6D3A;
}
.soft-skills-item-text{
    font-size: 14px;
    line-height: 1.71;
    color: #fff;
}